*, *:before, *:after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html, body, .container {
    height: 100%;
}

html {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #5c5160;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: center;
    justify-content: center;
}

.input {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    transition: flex 1s ease;
}

.input-box {
    flex: 0 0 auto;
    text-align: center;
    padding: 1px 1px 5px 1px;
    border: 0;
    border-bottom: 0.15em solid #f4f5f7;
    font-size: 2em;
    background: transparent;
    color: #f4f5f7;
}

@media (max-width: 767px) {
    .input-box {
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .input-box {
        width: 65%;
    }
}

@media (min-width: 992px) {
    .input-box {
        width: 55%;
    }
}

.results {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: center;
    justify-content: flex-start;
    margin-top: 1em;
    overflow: auto;
}

.result {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    min-height: min-content;
}

.letter-box {
    flex: 1;
    text-align: right;
}

.word-box {
    flex: 1;
    text-align: left;
}

.letter {
    padding-right: 0.3em;
    font-size: 1.5em;
    color: #f7aaae;
}

.word {
    padding-left: 0.3em;
    font-size: 1.5em;
    color: #f4f5f7;
}
